.header{
    background: black;
    padding:15px;
    text-align: center;
    font-size: 24px;
}
.headerContent{
    color: white;
}

.content{
    display: flex;
    width:100%;
}
.content1{
    flex: 1px;  
    height:400px;
}
.content2{
    flex: 570px;
    margin-left:20px;
    margin-bottom:-24px;
    
}

.card{
    width: 950%;
    padding:30px;
}

.progress{
    border: 1px solid blue;
}

.notification{
    height: 643px;
}